@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

.bg-dot-pattern {
  background-image: radial-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 24px 24px;
}

.hover-gradient:hover {
  background: linear-gradient(rgba(16, 185, 129, 0.05), rgba(16, 185, 129, 0.02));
}
